* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fist-color: #00A7E1;
    --second-color: #EDF2EF;
    --thirt-color: #fffb00;
    --room-color: #ff0000;
    --five-color: #08c908;
    --six-color: #031926;
}

@media (max-width: 786px) {

   /* Configurações header */

   main > header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: .7em;
    }

    main > header > .logout > a {
        text-decoration: none;
    }

    main > header > .logout > a > button {
        background-color: transparent;
        border: none;

        padding: .4em;
    }
    
    main > header > .logout > a > button > span {
        color: var(--six-color);
    }

    /* Configurações button fixed */

    .btn_fixed {
        position: fixed;

        width: 60px;
        height: 60px;
        padding: .3em;
        border-radius: 50%;

        bottom: 20px;
        right: 20px;

        background-color: var(--six-color);
        color: var(--second-color);
    }

    /* Configurações status */

    main > .status {
        padding: .5em;
        text-align: center;
    }

    /* Configurações products_box */

    main > .products_box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 15px;
        width: 95%;
        margin-left: 10px;

        background-color: #fff;
        box-shadow: 0px 0px 5px var(--fist-color);
    }

    main > .products_box > .image {
        padding: .5em;
    }

    main > .products_box > .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: .5em;

        color: #999;
    }

    main > .products_box > .info > .column_one {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main > .products_box > .info > .column_two > p {
        color: #000;
    }

    main > .products_box > .info > .column_three > p {
        text-transform: none;

        color: #999;
    }

    main > .products_box > .btn_delete > a > button {
        background-color: transparent;
        color: var(--six-color);

        border: none;
        padding: 1em;
    }

    main > .products_box > .btn_delete > a > button > span {
        font-size: 3em;
    }

}
