* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fist-color: #0077ff;
    --second-color: #ffffff;
    --thirt-color: #fffb00;
    --room-color: #ff0000;
    --five-color: #08c908;
    --six-color: #031926;
}

/* Media query */
@media (max-width: 786px) {

  body {
      background-color: #000;
      color: var(--second-color);
  }

  #camera-container {
      position: relative;
      width: 100%;
      margin: auto;

      display: flex;
      align-items: center;
      justify-content: center;
  }
    
    #reader {
      width: 100%;
  }
      
  /* button abrir manual */

  .btn_manual {
    display: flex;
    align-items: center;
    justify-content: center;    

    padding: .5em;
  }

  .btn_manual > button {
    background-color: transparent;
    color: var(--second-color);

    padding: .4em;
    font-size: 1em;
    border-radius: 5px;

    border: 1px solid var(--second-color);
  }

  /* Mensagem de status */

  #status {
    text-align: center;
  }

  /* Form para cadastrar manualmente */

  #manualInput {
    text-align: center;
  }

}
