* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fist-color: #0077ff;
    --second-color: #ffffff;
    --thirt-color: #fffb00;
    --room-color: #ff0000;
    --five-color: #08c908;
    --six-color: #031926;
}

/* Media query */
@media (max-width: 786px) {
    body {
        padding: 1em;

        background-color: var(--six-color);
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: .5em;
    }

    .header > a > span {
        font-size: 2.5em;
        cursor: pointer;
    
        color: var(--second-color);
    }

    .header > h1 {
        color: var(--second-color);
    
        margin-right: 70px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form > .input_name {
        padding: .5em;
        font-size: 1.3em;
        outline: none;
        border: none;

        background-color: transparent;
        border-bottom: 1px solid var(--fist-color);
        color: var(--second-color);
    }

    form > button {
        padding: .5em;
        font-size: 1.3em;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        cursor: pointer;

        color: var(--second-color);
        background-color: var(--five-color);
    }

    form > .btn_foto {
        background-color: var(--fist-color);
    }

}
