* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fist-color: #0077ff;
    --second-color: #ffffff;
    --thirt-color: #fffb00;
    --room-color: #ff0000;
    --five-color: #08c908;
    --six-color: #031926;
}

/* Media query */
@media (max-width: 786px) {

  body {
      background-color: #000;
      color: var(--second-color);
  }

  #camera-container {
      position: relative;
      width: 100%;
      margin: auto;

      display: flex;
      align-items: center;
      justify-content: center;
  }
    
    #reader {
      width: 100%;
  }
      
  /* button abrir manual */

  .btn_manual {
    display: flex;
    align-items: center;
    justify-content: space-between;    

    padding: .5em;
  }

  .btn_manual > a > button {
    background-color: transparent;
    color: var(--second-color);

    border: none;
  }

  .btn_manual > button {
    background-color: transparent;
    color: var(--second-color);

    padding: .4em;
    font-size: 1em;
    border-radius: 5px;

    border: 1px solid var(--second-color);
  }

  /* Mensagem de status */

  #status {
    text-align: center;
  }

  /* Form para cadastrar manualmente */

  #manualInput {
    text-align: center;
  }

  /* Configurações imagem do produto e nome */

  #produto {
    text-align: center;
  }

  .photo_product {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .photo_product > .imagem_product {
    width: 220px;
    height: 140px;
  }

  /********/

  .form-modern {
    display: none;
    margin-top: 20px;
    text-align: left;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .calendar-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
  }
  
  .input-group input[type="date"] {
    width: 100%;
    padding: 12px 12px 12px 36px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    appearance: none;
  }
  
  .input-group label {
    position: absolute;
    left: 36px;
    top: 10px;
    font-size: 12px;
    color: #666;
    pointer-events: none;
    transition: all 0.2s ease;
  }  

}
