<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Produto</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_product.css') }}">
</head>
<body>

    <div class="header">
        <a href="{{ url_for('main.home') }}">
            <span class="material-symbols-outlined">close</span>
        </a>
        <h1>Novo Produto</h1>
    </div>

    <form action="/get_new_product" method="POST">
        <input type="text" class="input_name" name="name" placeholder="Nome do produto" required><br><br>

        <input type="date" name="product_value" id="product_value" required maxlength="10" placeholder="Validade">

        <video id="video" autoplay playsinline></video><br>
        <button type="button" onclick="tirarFoto()" class="btn_foto">Tirar Foto</button><br><br>

        <canvas id="canvas" width="320" height="100" style="display:none;"></canvas>

        <input type="hidden" name="image_data" id="image_data">

        <button type="submit">Enviar</button>
    </form>

    <script src="{{ url_for('static', filename='js/new_product.js') }}"></script>
</body>

</html>
