<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Novo Produto</title>

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/new_product.css') }}" />

  <script src="https://unpkg.com/html5-qrcode"></script>
</head>

<body>
  <main>
    <section>
      <div class="btn_manual">

        <a href="{{ url_for('main.home') }}">
          <button>
            <span class="material-symbols-outlined">Arrow_back</span>
          </button>
        </a>

        <!-- Botão para abrir campo manual -->
        <button id="abrirManual">
          Escrever Manualmente
        </button>
      </div>

      <!-- Campo manual oculto -->
      <div id="manualInput" style="display: none; margin-top: 10px;">
        <label for="codigoManual">Digite o código de barras:</label><br />
        <input type="text" id="codigoManual" placeholder="Digite o código" />
        <button onclick="buscarProdutoManual()">Buscar</button>
      </div>

      <!-- Status da leitura -->
      <div id="status" style="margin-top: 10px;">Carregando produtos...</div>

      <!-- Scanner -->
      <div id="camera-container" style="margin-top: 20px;">
        <div id="reader" style="width: 100%; max-width: 400px; margin: auto;"></div>
      </div>

      <!-- Nome do produto -->
      <div id="produto" style="margin-top: 20px; font-weight: bold;"></div>
      <div class="photo_product">
        <img class="imagem_product" id="imagemProduto" src="" alt="Imagem do Produto" style="display:none; margin-top: 10px;" />
      </div>

      <!-- Formulário de validade -->
      <form id="formValidade" class="form-modern">
        <div class="input-group">
          <span class="calendar-icon">📅</span>
          <input type="date" id="validade" required />
          <label for="validade">Validade</label>
        </div>
        <button type="submit">Novo Produto</button>
      </form>
    </section>
  </main>

  <script src="{{ url_for('static', filename='js/new_product.js') }}"></script>
</body>
</html>
